body {
  position: relative;
}


/*------- Text and Headers -----------*/
#masthead img {
    width: 100%;
    margin: 0px 0px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
    display: flex;
    position: relative;
}

.masthead-subheading {
    text-align: center;
    font-size: .75rem;
    font-style: italic;
    line-height: .75rem;
    margin-bottom: 25px;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: white;
    position: absolute;
    margin-top: -10rem;
    margin-left: 22%;
}

 .masthead-heading {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position: absolute;
    margin-top: -10rem;
    color: white;
    margin-left: 17%;
}

h2.section-heading {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700; 
}

h3.section-subheading {
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
  margin-left: 8%;
}

/*------------- Buttons, Icons ----------*/
#search-btn {
    position: relative;
    margin-left: 0;
}

#mast-link {
    position: absolute;
    margin-top: -9rem;
}


/*--------------- Navigation --------------*/
.brand-logo img {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.brand-logo img {
    height: 2rem;
}

#mast-link {
    text-align: center;
}

.flashes h4 {
    background-color: crimson;
    color: black;
    line-height: 2;
    font-size: 1.2rem;
}

/*--------------- Sections --------------*/
.masthead-container {
    top: 40vh;
}

.featured {
    position: absolute;
    margin-top: -5rem;
}

.footer {
  text-align: center;
  font-size: 1.25rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: block;
  height: 5rem;
}

@media (min-width: 768px) {
    .brand-logo img {
        height: 3rem;
    }
}

@media (min-width: 992px) {
    .brand-logo img {
        height: 3.5rem;
    }
}

@media (min-width: 1200px) {
    .brand-logo img {
        height: 4rem;
    }
}

@media (min-width: 576px) {
    .masthead-subheading {
        font-size: 1.25rem;
        line-height: 1.25rem;
        margin-top: -15rem;
    } 
    .masthead-heading {
        margin-top: -14rem;
        font-size: 1.75rem;
        line-height: 1.75rem;
        margin-top: -14rem;
    } 
    .featured {
        margin-left: 10%;
    }
    #mast-link {
        margin-top: -11rem;
    }
}

@media (min-width: 768px) {
    .masthead-subheading {
        font-size: 2rem;
        line-height: 2rem;
        margin-top: -20rem;
        margin-left: 18%;
    }
    .masthead-heading {
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-top: -18rem;
        margin-left: 14%;
        margin-right: 14%;
    }
    .featured {
        margin-left: 20%;
    }
    #mast-link {
        margin-top: -11rem;
    }
    h2.section-heading {
        font-size: 2.5rem;
        line-height: 2.5rem;
        padding-top: 5rem;
    }
    h3.section-subheading {
        font-size: 1.25rem;
        line-height: 1.25rem;
}

@media (min-width: 992px) {
    .masthead-subheading {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-top: -22rem;
        margin-left: 18%;
    }
    .masthead-heading {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin-top: -19rem;
        margin-left: 12%;
        margin-right: 10%;
    }
    .featured {
        margin-left: 20%;
    }
    .featured.container {
        width: 80%;
    }
    #mast-link .btn-large {
        margin-top: -11rem;
    }
    h2.section-heading {
        font-size: 3rem;
        line-height: 3rem;
        padding-top: 5rem;
    }
    h3.section-subheading {
        font-size: 1.5rem !important;
        line-height: 1.5rem;
}
