* {
    box-sizing: border-box;
}

:root {
    --clr-yellow: #FFFD01;
    --clr-ltgray: #e0e0e0;
    --clr-gray: #808080;
    --clr-darkgray: #616161;
    --clr-gold: #FFDF00;
    --clr-metallicgold: #D4AF37;
    --clr-darkteal: #006666;
}


body {
  position: relative;
  background-color: #cfd8dc;
  font-weight: 700;
}

/*------- Text and Headers -----------*/
#masthead img {
    width: 100%;
    margin: 0px 0px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
    display: flex;
    position: relative;
}

.masthead-subheading {
    text-align: center;
    font-size: .75rem;
    font-style: italic;
    line-height: .75rem;
    margin-bottom: 25px;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: white;
    position: absolute;
    margin-top: -10rem;
    margin-left: 15%;
}

 .masthead-heading {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position: absolute;
    margin-top: -10rem;
    color: white;
    margin-left: 3%;
}

h2.section-heading {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700; 
}

h3.section-subheading {
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
  margin-left: 8%;
}

/*------------- Buttons, Icons, Links ----------*/
#search-btn {
    position: relative;
    margin-left: 0;
    margin-bottom: -3rem;
    text-align: center;
}

#mast-link {
    margin-top: -8rem;
}

.btn-row .btn-col {
    float: none;
}

#review-form button {
    margin: 2rem;
    text-align: center;
}

#sm-icons {
    margin-left: 40%;
}

footer i {
    font-size: 1.7rem;
    padding: 1rem;
}

/*--------------- Inputs --------------*/
.input-field input[type=search] {
    height: 2.6rem;
}

#search-type .select-wrapper input.select-dropdown {
    margin-left: 5px;
}

.select-wrapper input.select-dropdown {
    font-size: 10px;
    height: 2.5rem; 
    margin-left: .5rem;
    margin-bottom: 0;
}

#search-form .input-field>label {
    font-size: 0.8rem;
    opacity: 0.6;
    margin-top: -0.75rem;
}

#search-form.col.s12 {
    height: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 0.75rem;
}

#search-row {
    border-bottom: 3px solid #000000;
    margin-bottom: 10px;
    height: 5rem;
}


/*------------Tables & Lists --------------*/
table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #d4d4d4;
  font-size: 11px;
  background: #fff;
}
  
table th, 
table td {
  padding: .75rem 1rem;
}
  
table th {
  border-bottom: 1px solid #d4d4d4;
}

#review-form table td input {
    width: 100%;
}

#ratings-summary, #reader-ratings {
    font-size: .75rem;
    width: 80%;
}

.spacer {
    height: 1rem;
}

#book-list li {
    font-size: 16px;
    font-weight: 700;  
}

#review-table2 tbody tr:nth-child(6) td:nth-child(1) {
   text-align: right !important;
}

#review-table2 tbody tr:nth-child(6) td:nth-child(2) {
   text-align: right !important;
}

#review-table2 tbody tr:nth-child(6) td:nth-child(3) {
   text-align: right !important;
}

#review-table2 tbody tr:nth-child(6) td:nth-child(4) {
   text-align: right !important;
}

#review-table2 tbody tr:nth-child(6) td:nth-child(5) {
   text-align: right !important;
}

.reader-ratings table {
    border: none;
}

.reader-ratings tbody tr:nth-child(4) td:nth-child(1) {
    margin-bottom: 1.5rem;
}
/*-------- Star Rating JS Fiddle.net ------*/
.starRating input { 
    display:none; 
}

.starRating label { 
    width: 18px; 
    height: 16px; 
    display: inline-block;
    text-indent: -9999px; /* hide the label text off screen */
    background: url("http://designmoo.com/wp-content/uploads/2011/01/rating_stars.png") -155px -32px;
}

.starRating label.on { 
    background-position: -155px -76px;
}

/*--------------- Navigation --------------*/
.brand-logo img {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.brand-logo img {
    height: 2rem;
}

.flashes h4 {
    line-height: 1.5rem;
    font-size: 1rem;
    background-color: var(--clr-darkteal);
    color: white;
}

/*--------------- Sections --------------*/
.row .col.s2, .row .col.s4, .row .col.s2 {
     padding: 0;
}

.masthead-container {
    top: 40vh;
}

.card-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
}

.footer {
  text-align: center;
  font-size: 1.25rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: block;
  height: 5rem;
}

@media (min-width: 768px) {
    .brand-logo img {
        height: 3rem;
    }
}

@media (min-width: 992px) {
    .brand-logo img {
        height: 3.5rem;
    }
}

@media (min-width: 1200px) {
    .brand-logo img {
        height: 4rem;
    }
}

@media (min-width: 576px) {
    .masthead-subheading {
        font-size: 1.25rem;
        line-height: 1.25rem;
        margin-top: -15rem;
    } 
    .masthead-heading {
        margin-top: -14rem;
        font-size: 1.75rem;
        line-height: 1.75rem;
        margin-left: 17%;
    } 
    .masthead-heading.books {
        margin-left: 35%;
    }
    #mast-link {
        margin-top: -11rem;
    }
}

@media (min-width: 768px) {
    .masthead-subheading {
        font-size: 2rem;
        line-height: 2rem;
        margin-top: -20rem;
        margin-left: 12%;
}
    .masthead-heading {
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-top: -18rem;
        margin-left: 8%;
        margin-right: 14%;
    }
    #mast-link {
        margin-top: -11rem;
    }
    h2.section-heading {
        font-size: 2.5rem;
        line-height: 2.5rem;
        padding-top: 5rem;
    }
    h3.section-subheading {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
    .books.masthead-heading {
        margin-top: -20rem;
        margin-left: 31%;
    }
    #search-form.col.s12 {
        padding-left: 4rem;
    }
    .select-wrapper input.select-dropdown {
        font-size: 1rem;
    }
    #search-form .input-field>label {
        font-size: 1rem;
    }
    table {
        font-size: 14px;
    }
    .flashes h4 {
    line-height: 2.5rem;
    font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    .masthead-subheading {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-top: -26rem;
        margin-left: 5%;
    }
    .masthead-heading {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin-top: -24rem;
        margin-left: 1%;
    }
    #mast-link {
        margin-top: -17rem;
    }
    #mast-link .btn-large {
        margin-top: -11rem;
    }
    h2.section-heading {
        font-size: 3rem;
        line-height: 3rem;
        padding-top: 5rem;
    }
    h3.section-subheading {
        font-size: 1.5rem !important;
        line-height: 1.5rem;
    }
    #search-form.col.s12 {
        padding-left: 6rem;
    }
    .select-wrapper input.select-dropdown {
        font-size: 1rem;
    }
    #search-form .input-field>label {
        font-size: 1rem;
    }
    table {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .masthead-subheading {
        font-size: 3rem;
        line-height: 3rem;
        margin-top: -32rem;
        margin-left: 8%;
    }
    .masthead-heading {
        font-size: 4.5rem;
        line-height: 4.5rem;
        margin-top: -27rem;
        margin-left: 3%;
    }
    #mast-link .btn-large {
        margin-top: -16rem;
    }
    h2.section-heading {
        font-size: 3rem;
        line-height: 3rem;
        padding-top: 5rem;
    }
    h3.section-subheading {
        font-size: 1.5rem !important;
        line-height: 1.5rem;
    }
    .btn-small {
        height: 60px;
        width: 300px;
        line-height: 40px;
        font-size: 30px;
        padding-top: 8px;
    }
    .select-wrapper input.select-dropdown {
        font-size: 1.2rem;
    }
    #search-form .input-field>label {
        font-size: 1.2rem;
    }
}
