<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet" />
	<title>Find Thrillers</title>
</head>

<body data-spy="scroll" data-target="nav-parent">
<!-- Nav Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content black yellow-text">
        <li><a src="{{ url_for('login') }}" class="white-text">Log In</a></li>
        <li><a src="{{ url_for('register') }}" class="white-text">Create Account</a></li>
    </ul>
<!-- Navigation -->
    <nav class=" black yellow-text">
        <div class="nav-wrapper">
            <a src="{{ url_for('get_home') }}" class="brand-logo ml-4">
                <img src="{{ url_for('static', filename='assets/images/navbar-logo.png') }}" alt="Find Thrillers" />
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down white-text">
                <li><a src="{{ url_for('get_home') }}" class="yellow-text">Home</a></li>
                <li><a href="#featured" class="yellow-text">Featured Books</a></li>
                <li><a src="{{ url_for('book_search') }}" class="yellow-text">Book Search</a></li>
                <li><a src="#" class="yellow-text">My Book Reviews</a></li>
                <li><a class="dropdown-trigger yellow-text" href="#!" data-target="dropdown1">My Account<i class="material-icons yellow-text right">arrow_drop_down</i></a></li>
                </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a src="{{ url_for('get_home') }}" class="yellow-text">Home</a></li>
        <li><a href="#featured" class="yellow-text">Featured Books</a></li>
        <li><a src="{{ url_for('book_search') }}" class="yellow-text">Book Search</a></li>
        <li><a src="#" class="yellow-text">My Book Reviews</a></li>
        <li><a src="{{ url_for('login') }}" class="yellow-text">Log In</a></li>
        <li><a src="{{ url_for('register') }}" class="yellow-text">Create Account</a></li>
    </ul>


    {% block content %}
    {% endblock %}

<!-- Footer-->
    <footer class="footer yellow">
        <div class="container">
            <div class="row align-items-center">
                <div class="col s12 m4">Copyright © Find Thrillers 2020</div>
                <div class="col 12 m4">
                    <a href="https://mtouch.facebook.com/login/"><i class="fab fa-facebook-square black"></i></a>
                    <a href="https://www.instagram.com/accounts/login/?hl=en"><i class= "fab fa-instagram black"></i></a>
                </div>
                <div class="col s12 m4">
                    <a src="/templates/review-guidelines.html">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
     <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>

    </body>
</html>