{% extends 'base.html' %} {% block content %}

<!-- Masthead-->
<header id="masthead">
    <img class="responsive-img" src="{{ url_for('static', filename='assets/images/bg-header.jpg') }}">
	<div class="container no-gutters masthead-container">
        <div class="row">
            <div class="col s12 center-align">
		        <div class="masthead-heading books">Book Search</div>
            </div>
        </div>
        <div class="row">
        	<form id="search-form" class="col s12" action="{{ url_for('search_api') }}" method="POST">
                <div class="row">
			        <div class="input-field blue-grey lighten-4 blue-text col s4">  
                        <select id="search-type" name="search-type"  required>
                            <option value="" class="black-text" disabled selected>Search criteria</option>
                            <option value="author" class="black-text">Author</option>
                            <option class="black-text" value="title">Title</option>
                         </select>
                    </div>  
                    <div class="input-field col s6">
					    <input type="search" id="search" class="blue-grey lighten-4 black-text" name="search" required/>
                        <label class="label-icon black-text" for="search">search</label>
                        <i class="material-icons">close</i>
                    </div>
                    <div class="col s2 left-align">
                        <button type="submit" id="search-btn" class="blue-grey lighten-4 btn"><i class="material-icons">search</i></button> 
                    </div>
                </div> 
           </form>
		</div>
	</div>
</header>

<!-- Search Results -->
<section class="featured" id="search-results">
	<div class="container">
		<div class="center-align">
			<h2 class="text-uppercase books section-heading">Book Search Results</h2>
	    </div>
	<div class="card-container books">
        <div class="col s12">
                {% for book in search_results %}
				<div class="card horizontal hoverable">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="{{ book.image }}">
					</div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title activator black-text">
							    {{ book.title }}<i class="material-icons right">more_vert</i></span>
							<p class="card-subtitle">{{ book.author }}</p>
                            <p class="card-subtitle">{{ book.publication_date }}</p>
                        </div>
						<div class="card-action">
							<a href="(( url_for('book_profile') }}">Book Profile & Reviews</a>
						</div>
					</div>
                    <div class="card-reveal">
                        <span class="card-title black-text">{{ book.title }}<i class="material-icons right">close</i></span>
						<p>{{ book.description }}</p>
					</div>
				</div>
                {% endfor %}
			</div>
    </div>
	</div>
</section>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>

{% endblock %}


