{% extends 'base.html' %} {% block content %}

<div class="container">
     <div class="row">
        <div class="col s12 center-align">
		    <div class="masthead-heading books">Book Review For </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
			<div class="card horizontal hoverable">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="#">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<p class="card-title black-text"></p>
						<p class="card-subtitle"></p>
                    </div>
				</div>
			</div>
        </div>
    </div>
    <div class="row">
        <form id="review-form" class="col s12" action="{{ url_for('book_review_form') }}" method="POST">
            <div class="row">
                <div class="col s12">
                    <p class="black-text">My Rating:</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 rating">
                    <input type="radio" name="star" id="star1"><label for="star1">
                    </label>
                    <input type="radio" name="star" id="star2"><label for="star2">
                    </label>
                    <input type="radio" name="star" id="star3"><label for="star3">
                    </label>
                    <input type="radio" name="star" id="star4"><label for="star4">
                    </label>
                    <input type="radio" name="star" id="star5"><label for="star5">
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}

