{% extends 'base.html' %} {% block content %}

<!-- Masthead-->
<section class="container-reg">
	<!-- flash messages -->
	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        {% for message in messages %}
	            <div class="row flashes blue lighten-1 white-text text-uppercase">
		            <h4 class="center-align">{{ message }}</h4>
	            </div>
	        {% endfor %}
	    {% endif %}
	{% endwith %}
</section>
<header id="masthead">
    <img class="responsive-img" src="{{ url_for('static', filename='assets/images/bg-header.jpg') }}">
	<div class="container masthead-container">
        <div class="row">
            <div class="col s12 center-align">
		        <div class="masthead-heading books">Book Search</div>
            </div>
        </div>
        <div class="row">
        	<form id="search-form" class="col s12" action="{{ url_for('search_api') }}" method="POST">
                <div class="row">
			        <div class="input-field blue-grey lighten-4 blue-text col s4">  
                        <select id="search-type" name="search-type"  required>
                            <option value="" class="black-text" disabled selected>Search criteria</option>
                            <option value="author" class="black-text">Author</option>
                            <option class="black-text" value="title">Title</option>
                         </select>
                    </div>  
                    <div class="input-field col s6">
					    <input type="search" id="search" class="blue-grey lighten-4 black-text" name="search" required/>
                        <label class="label-icon black-text" for="search">search</label>
                        <i class="material-icons">close</i>
                    </div>
                    <div class="col s2 left-align">
                        <button type="submit" id="search-btn" class="blue-grey lighten-4 btn"><i class="material-icons">search</i></button> 
                    </div>
                </div> 
           </form>
		</div>
	</div>
</header>



<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>

{% endblock %}


