{% extends 'base.html' %} {% block content %}

<div class="container">
     <div class="row">
        <div class="col s12 center-align">
		    <div class="masthead-heading books">Book Review For </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
			<div class="card horizontal hoverable">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="#">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<p class="card-title black-text"></p>
						<p class="card-subtitle"></p>
                    </div>
				</div>
			</div>
        </div>
    </div>
    <div class="row">
        <form id="review-form" class="col s12" action="{{ url_for('book_review_form') }}" method="POST">
            <div class="row">
                <div class="col s6">
                    <p class="black-text">My Rating:</p>
                </div>
                <div class="col s6 center">
                    <div class="stars">
                        <input type="radio" id="five" name="rate" value="five"><label for="five">
                        </label>
                        <input type="radio" id="four" name="rate" value="four"><label for="four">
                        </label>
                        <input type="radio" id="three" name="rate" value="three"><label for="three">
                        </label>
                        <input type="radio" id="two" name="rate" value="two"><label for="two">
                        </label>
                        <input type="radio" id="one" name="rate" value="one"><label for="one">
                        </label>
                        <span class="result"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}

