{% extends 'base.html' %} {% block content %}

<div class="container">
     <div class="row">
        <div class="col s12 center-align">
		    <h2 class="section-heading">Book Review Form</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
			<div class="card horizontal hoverable">
				<div class="card-image waves-effect waves-block waves-light">
                {% if book['volumeInfo']['imageLinks'] %}
					<img class="activator" src="{{ book['volumeInfo']['imageLinks']['smallThumbnail'] }}">
                {% endif %}
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<p class="card-title black-text">{{ book['volumeInfo']['title']}}</p>
                        {% for author in book['volumeInfo']['authors'] %}
							<p class="card-subtitle">{{ author }}</p>
                        {% endfor %}
                    </div>
				</div>
			</div>
        </div>
    </div>
    <div class="row control-group">
        <form id="review-form" class="col s12 grey lighten-3" action="{{ url_for('insert_review') }}" method="POST">
            <div class="row">
                <div class="col s12">
                    <p>required fields are marked with *</p> 
                </div>
            </div>
            <table id="review-table">
                <thead>
                    <tr>
                        <th>Display Name:</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-field">
                                <input id="display-name" name="display-name" type="text" value="{{ display_name }}">
                                <label for="display-name"></label>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Book Title</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-field">
                                <input id="book-title" name="book-title" type="text" value="{{ book['volumeInfo']['title']}}">
                                <label for="book-title"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>*My Rating(click to rate, with 5 being high):</td>
                    </tr>
                    <tr class="controls rating group1">
                        <td>
                            <label for="btn1">
                                <input class="with-gap"  id="btn1" name="review-rating" type="radio" value="1" />
                            </label>
                        </td>
                         <td id="num1">
                            <label for="btn2">
                                <input class="with-gap" id="btn2" name="review-rating" type="radio" value="2" />
                            </label>
                        </td>
                         <td>
                            <label for="btn3">
                                <input class="with-gap" id="btn3" name="review-rating" value="3" type="radio" />
                            </label>
                        </td>
                         <td>
                            <label for="btn4">
                                <input class="with-gap" id="btn4" name="review-rating" value="4" type="radio" />
                            </label>
                        </td>
                         <td>
                            <label for="btn5">
                                <input class="with-gap" id="btn5" />
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>*Review Title</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-field">
                                <input placeholder="review-title" id="review-title" name="review-title" type="text" class="validate">
                                <label for="review-title"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>*Review</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-field">
                                <textarea id="review-textarea" name="review-text" class="materialize-textarea" placeholder="Enter your review here"></textarea>
                                <label for="review-textarea"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>Does your review container spoilers?</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-field">
                                <select id="spoiler" name="spoiler">
                                    <option value="unknown" selected>Choose . . .</option>
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>
                                </select>
                                <label for="spoiler"></label>
                            </div>           
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row btn-row">
                <div class="col s12 btn-col center-align">
                    <button class="btn-large black-text yellow" type="submit" name="action">Submit Review
                        <i class="material-icons right">add_box</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>

{% endblock %}

