{% extends 'base.html' %} {% block content %}

<div class="container">
     <div class="row">
        <div class="col s12 center-align">
		    <h2 class="section-heading">Edit Book Review</h2>
        </div>
    </div>
    <div class="row">
        <form id="review-form" class="col s12 grey lighten-3" action="{{ url_for('update_review', review_id=review._id) }}" method="POST">
            <div class="row">
                <div class="col s12">
                    <p>required fields are marked with *</p> 
                </div>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>Book Title</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-field">
                                <input id="book-title" name="book-title" type="text" value="{{ review.book_title }}">
                                <label for="book-title" disabled></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>*My Rating(click to rate):</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="container">
                                <input type="text" name="rating" value="{{ review.rating }}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>*Review Title</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-field">
                                <input id="review-title" name="review-title" type="text" value="{{ review.review_title }}" minlength="4" maxlength="100">
                                <label for="review-title"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>*Review</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-field">
                                <textarea id="review-textarea" name="review-text" class="materialize-textarea" minlength="40" maxlength="5000">{{ review.review_text }}</textarea>
                                <label for="review-textarea"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>Does your review container spoilers?</td>
                        <td>
                            <div class="input-field">
                                <select id="spoiler" name="spoiler">
                                        {% if review.spoiler %}
                                            <option value="{{ review.spoiler }}" selected>{{ review.spoiler }}</option>
                                        {% else %}
                                            <option value="" selected>Choose . . .</option>
                                        {% endif %}
                                        <option value="yes">yes</option>
                                        <option value="no">no</option>
                                </select>
                                <label for="spoiler"></label>
                            </div>           
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row btn-row">
                <div class="col s12 btn-col center-align">
                    <button class="btn-large black-text yellow" type="submit" name="action">Submit Edit
                        <i class="material-icons right">add_box</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- JQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>

{% endblock %}