{% extends 'base.html'%} {% block content %}

<h3> Guidelines for Book Reviews</h3>

<p>As our community is new, we are adopting the successful book review guidelines used by goodreads.com. Their guidelines are listed below. Our new website will be successful and enjoyable for our users if we start out expecting respectful and creative efforts from all. Thanks for joining us.
</p>
<p>
We value that members trust us with your thoughts and words and take our stewardship of storing your reviews seriously. We promise to always store your reviews on your profile and in your bookshelves and will never delete or modify them – except for certain extreme situations, which are described below. Your thoughts and your words are yours, and we promise you we will always respect that.
</p>
<p>
Here are some examples of what we allow in reviews:
</p>
<p>
Creativity! Some of the best reviews on Goodreads use the book as inspiration for a personal essay or other piece of creative writing. As long as they don't go against our guidelines in other ways, these reviews are welcome and encouraged!
</p>
<p>
Pre-publication reviews. Many of our members receive advance copies of books to review. We have no way of knowing the exact date that review copies are available. As such, each book is eligible to be reviewed as soon as it appears on the site.
</p>
<p>
Harsh critical statements that apply to the book or the writing in it, such as "This guy can't write a lick," or "This book is absolute trash." Again, honest opinions about books are always going to be welcome and encouraged.
</p>
<p>
And here are some of the things that might affect whether or not your review appears on the book page:
</p>
<p>
Reviews of the author. Mentioning the author in the context of a review is always acceptable, but reviews that are predominantly about an author’s behavior and not about the book may be deleted.
</p>
<p>
Reviews with off-topic, irrelevant comments about the author's personal life will be deleted. For example, if the author owes you money, that is not appropriate information for a book review, and it will be deleted entirely.
</p>
<p>
We will not tolerate abuse of our ratings system, such as rating the same work more than once for the purpose of inflating or deflating the book's average rating. Multiple ratings we determine to be abusive will be removed.
</p>
<p>
Reviews that attack other reviewers will be deleted. Statements like "Other reviews have said this book is terrible, but I disagree" are fine, but if the primary purpose of your review is to mock or harass another Goodreads member, we may give it a lower priority or delete it entirely.
</p>
<p>
Reviews must be your own original content. Reviews that plagiarize from another source or use copyrighted material without permission will be deleted.
</p>
<p>
Self-promotional reviews will be deleted. (i.e., "I'm an author writing about Rome. This book is terrible. For a real history of Rome, check out my new book.").
</p>
<p>
Full reviews that link to a blog are acceptable, as long as the blog is not selling a competing book and using the review to denigrate the book being reviewed in favor of its own.
</p>
<p>
Reviews that are harassing or threatening, or that contain hate speech or bigotry. These will be deleted outright and anyone posting them risks being removed from the site.
Spam reviews. These will be deleted immediately.
</p>
<p>
Commercial reviews are not allowed and will be deleted. If you received a free copy of the book, you are required to disclose that in your review.
</p>
<p>
And here are a couple of disclaimers:
</p>
<p>
Find Thrillers reserves the right to remove a review at any time for any reason. It is at our sole discretion and no one else's, that we decide when a review is against our guidelines.
</p>
<p>
The reviews posted on Find Thrillers are individual and subjective opinions. The opinions expressed in reviews are those of Goodreads members and not of Find Thrillers. We do not endorse any of the opinions expressed by reviewers.
</p>



{% endblock %}