{% extends 'base.html' %} {% block content %}

<header>
	<div class="masthead">
		<div class="container">
            <img src="{{ url_for('static', filename='assets/images/bg-header.jpg') }}">
			<div class="masthead-subheading">Welcome To Our Reader Community . . .</div>
			<div class="masthead-heading"></div>
			for Thriller & Suspense Novels!
			<a class="waves-effect yellow btn-large black-text text-uppercase js-scroll-trigger"
				href="#services">Featured Books</a>
		</div>
	</div>
</header>

<!-- Featured Books -->
<section class="page-section" id="featured">
	<div class="container">
		<div class="text-center">
			<h2 class="text-uppercase section-heading">Featured Books</h2>
			<h3 class="section-subheading">
				Newly released books for you to check out.
			</h3>
		</div>
		<div class="card-container">

			{% for book in featured %}
			{% if book.featured %}
			<div class="col s12 m7">
				<div class="card horizontal">
					<div class="card-image">
						<img src="{{ book.image }}">
                    </div>
					<div class="card-stacked">
						<div class="card-content">
							<p class="card-title">{{ book.title }}</p>
							<p class="card-subtitle">{{ book.author}}</p>
						</div>
						<div class="card-action">
							<a href="(( url_for('book_profile') }}">Book Profile & Reviews</a>
						</div>
					</div>
					</div>
				</div>
			{% endif %}
			{% endfor %}
			</div>
		</div>
</section>



{% endblock %}