{% extends 'base.html' %} {% block content %}

<header id="masthead">
	<div class="container-fluid no-gutters" id="masthead-container">
        <div class="row">
            <div class="col s12 text-center mx-auto">
		        <div class="masthead-subheading">Welcome To Our Reader Community . . .
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 text-center mx-auto">
		        <div class="masthead-heading">for Thriller & Suspense Novels!</div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 text-center">
		        <a class="waves-effect yellow btn-large black-text text-uppercase js-scroll-trigger" href="#services">Featured Books</a> 
            </div>
        </div>
	</div>
</header>s

<!-- Featured Books -->
<section class="page-section" id="featured">
	<div class="container">
		<div class="text-center">
			<h2 class="text-uppercase section-heading">Featured Books</h2>
			<h3 class="section-subheading">
				Newly released books for you to check out.
			</h3>
		</div>
		<div class="card-container">

			{% for book in featured %}
			{% if book.featured %}
			<div class="col s12 m7">
				<div class="card horizontal">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="{{ book.image }}">
					</div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title activator black-text">
							    {{ book.title }}<i class="material-icons right">more_vert</i></span>
							<p class="card-subtitle">{{ book.author}}</p>
                        </div>
						<div class="card-action">
							<a href="(( url_for('book_profile') }}">Book Profile & Reviews</a>
						</div>
					</div>
                    <div class="card-reveal">
                        <span class="card-title black-text">{{ book.title }}<i class="material-icons right">close</i></span>
						<p>{{ book.description }}</p>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}add <div class=""></div>
		</div>
	</div>
</section>



{% endblock %}