{% extends "base.html" %} {% block content %}
    <section>
	<!-- flash messages -->
	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        {% for message in messages %}
	            <div class="row flashes blue lighten-1 white-text text-uppercase">
		            <h4 class="center-align">{{ message }}</h4>
	            </div>
	        {% endfor %}
	    {% endif %}
	{% endwith %}
    </section>
    <div class="row">
		<div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align black-text">{{ display_name }}'s Profile</h3>

            </div>
	    </div>
    </div>

<!--<div class="row">
    <div class="col-sm-12 pb-5 center-align">
        <h5>
            Books I've Reviewed:
        </h5>
        <ul>
        {{% for review in book_reviews %}}
            {{% if review.display_name == display_name %}}
            <li>{{ review.book_title }}, reviewed on {{ review.date }}</li>
            {{% endif %}}
        {{$ endfor %}}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 pb-5 center-align">
        <p>
            Looking for your Book Reviews?<a href="{{ url_for('my_book_reviews') }}">    Click here to see them</a>
        </p>
    </div>
</div>-->
{% endblock %}

