{% extends "base.html" %} {% block content %}

<section class="container-reg">
	<!-- flash messages -->
	{% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
	<div class="row flashes blue lighten-1 white-text text-uppercase">
		<h4 class="center-align">{{ message }}</h4>
	</div>
	{% endfor %} {% endif %} {% endwith %}
</section>

<!-- Create User Profile -->
<div class="row">
	<h3>Create Account</h3>
</div>

<div class="row">
	<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
		<div class="card-panel">
			<!-- Email -->
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-user-cog prefix grey-text"></i>
					<input id="reg-email" name="reg-email" type="email" class="validate" required>
					<label for="reg-email">Email</label>
				</div>
			</div>

			<!-- Password -->
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-user-lock prefix grey-text"></i>
					<input
              id="create-password"
              name="create-password"
              type="password"
              minlength="6"
              maxlength="15"
              pattern="^[a-zA-Z0-9]{5,15}$"
              class="validate form-control"
              required
            />
					<label for="create-password">Password</label>
				</div>
			</div>
			<!-- Display Name -->
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-user-circle prefix grey-text"></i>
					<input
              id="create-display-name"
              name="create-display-name"
              minlength="6"
              maxlength="15"
              pattern="^[a-zA-Z0-9]{5,15}$"
              class="form-control"
              required
            />
					<label for="create-display-name">Display Name</label>
				</div>
			</div>
			<!-- Create Account -->
			<div class="row">
				<button type="submit" class="col s12 btn-large yellow text-shadow">
                Create Account
                <i class="fas fa-sign-in-alt"></i>
                </button>
			</div>
		</div>
	</form>
</div>

<div class="row">
	<div class="col s12">
		<p class="text-center">
			Already Have An Account? <a href="{{ url_for('login') }}"> Log In</a>
		</p>
	</div>
</div>

{% endblock %}